.header {
    background-color: #ef5350;
    padding: 10px;
    color: white;
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  }
  
  .logo {
    width: 70px;
    height: 100px;
  
  }
  
